<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">LINKEDIN</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="d-flex p-2" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active-link"
            >Home</a
          >
        </li>
        @if (user logged in) {
          <li class="nav-item">
            <a class="nav-link" routerLink="signup" routerLinkActive="active-link">Sign Up</a>
          </li>
        }
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="network"
            routerLinkActive="active-link"
            >Network</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="chat" routerLinkActive="active-link"
            >Chat</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="contact"
            routerLinkActive="active-link"
            >Notifications</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="profile"
            routerLinkActive="active-link"
            >Profile</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="settings"
            routerLinkActive="active-link"
            >Settings</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav> -->
<div class="nav">
  <input type="checkbox" id="nav-check" />
  <div class="nav-header"></div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <a href="home">Home</a>
    <a href="network">Network</a>
    <a href="chat">Chat</a>
    <a href="profile">Profile</a>
    <a href="settings">Settings</a>
    <a href="notifications">Notifications</a>
  </div>
</div>
