@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

.profile{
    position: relative;
    top: 90px;
    font-weight: bold;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 30px;
}